@import 'Style/variable.scss';
@import 'Style/chessboard';
@import 'Style/chessBlock';

.main_top {
    position: relative;
    background: $block_color_one;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}